<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Log In</title>
</head>
<body>
    <div class="login-container">
        <h1>Log in</h1>
        <div class="card">
            <form action="/account/login" method="POST">
                <label for="email">email: </label>
                <input type="email" name="email" required/>
                <button type="submit" class="submit-btn">Log in</button>
            </form>
        </div>
    </div>
</body>
</html>