<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/stylesheets/style.css">
    <title>Account</title>
</head>
<body>
    <%- include('../partials/navbar.ejs'); %>
    <div class="user-container">
        <div id="user-card">
            <h1><%= user.username %></h1>
            <p>Work: <%= user.work %></p>
            <p>Education: <%= user.education %></p>
        </div>
    </div>
</body>
</html>